.hero {
    background-image: url("https://res.cloudinary.com/dk0ystu6k/image/upload/v1705313967/room_fujo5c.jpg") !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 300px;
    height: 100vh;
}

.gold {
    color: var(--gold);
}
.intro {
    background-color: var(--MainBlue);
    color: var(--white);
    padding: 50px;
}
.room {
   margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 80px 20px;

}
.room_card {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    width: 500px;
}

.image {
    width: min(100%, 500px);
    height: min(100%, 300px);
    overflow: hidden;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room_description {
    font-size: 13px;
    padding-right: 30px;
}
.room-amenities {
    display: flex;
    width: 100%;
    font-size: 13px;
}

.Btn {
    border: none;
    color: var(--gold);
    background-color: white;
    outline: none;
}


.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover {
    cursor: pointer;
}
