body {
    user-select: none;
}

.font_color {
    color: var(--buttonColorHover);
}

.hero {
    background-image: url("https://res.cloudinary.com/dk0ystu6k/image/upload/v1705313967/room_fujo5c.jpg") !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 300px;
    height: 762px;
}

.book {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--MainBlue);
    width: 80%;

    margin-top: -100px;
    margin-inline: auto;
    color: white;

    z-index: 1;
}

.view {
    display: flex;
}

.select_view {
    border: none;
    flex-grow: 1;
    outline: none;

    padding-block: 10px;
}
.select_view:focus {
    outline: none;
}

.select_room {
    display: none;
}

.room {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.room > * {
    flex-grow: 1;
}

.Tab-button-active {
    background-color: var(--buttonColor);
    color: black;
}

.select_room div > input {
    width: 150px;
    height: 50px;
    padding-left: 10px;
    border: 2px solid var(--blueHover);
    border-radius: 4px;
    color: var(--blueHover);
}

.select_room div > input:focus {
    outline-color: var(--buttonColorHover);
}

.select_room div > * {
    display: flex;
    column-gap: 20px;
}

.Tab-content-active {
    display: block;
}

.btn {
    background-color: var(--buttonColor);
    border: 1px transparent;
    border-radius: 5px;
    padding: 10px 40px;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: var(--buttonColorHover);
}

.availablity_btn {
    display: flex;
    background-color: pink;
    justify-content: stretch;
}

.availablity {
    border: none;
    background-color: var(--buttonColor);
    border: 1px transparent;
    border-radius: 5px;
    padding-block: 20px;
    width: 100%;
    transition: background-color 0.5s;
}
.availablity:hover {
    background-color: var(--buttonColorHover);
}
.availablity:focus {
    outline: none;
}

.intro_room_suite {
    margin-inline: 200px;
}

.intro_room_suite h1 {
    color: var(--buttonColorHover);
}

.Room_Suite_City {
    margin-block: 50px;
    text-align: center;
    display: flex;
    gap: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1;
}

.img-box:hover {
    cursor: pointer;
}
